@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base Styles */
@layer base {
  body {
    @apply font-sans m-0 p-0 bg-[#0a0a0f] text-white;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background:rgb(0, 0, 0); /* Dark background for the entire site */
    color: #ffffff; /* Default text color */
  }

  button {
    @apply transition-all duration-300;
  }
}





/* Button Hover Effects */
button {
  transition: all 0.3s ease-in-out;
}


/* Custom Components */



